{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Contact Us</title>

    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>

    <div class="contact-container">
        <h2>Contact Us</h2>
        <form action="{% url 'contacts' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Your Name" required><br>
            <input type="email" name="email" placeholder="Your Email" required><br>
            <input type="text" name="subject" placeholder="Subject" required><br>
            <textarea name="message" placeholder="Your Message" required></textarea><br>
            <button type="submit">Send Message</button>
        </form>
    </div>
   
</body>
</html>
